@import "reset.css";

img{
	display: block;
}

.sliderWrapper{
	width:800px;
	height:600px;
	margin:50px auto 0;
	border:10px solid #e1e1e1;
	border-bottom:0;	
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	overflow:hidden;
}

ul{
	width:800px;
	position:relative;
	left:0;
	box-sizing:border-box;
}

li{
	float:left;
	border-left:5px solid #e1e1e1;
	border-right:5px solid #e1e1e1;
}



.navigation{
	width:820px;
	height:50px;
	margin:0 auto;
	text-align:center;
	border-bottom:2px solid #e1e1e1;
	background: #e1e1e1;
	background: -moz-linear-gradient(#e1e1e1, #F2F2F2);
	background: -webkit-linear-gradient(#e1e1e1, #F2F2F2);
	background: -o-linear-gradient(#e1e1e1, #F2F2F2);
	background: -ms-linear-gradient(#e1e1e1, #F2F2F2);
	background: linear-gradient(#e1e1e1, #F2F2F2);
}


.previous, .next{
	display: inline-block;
	text-decoration:none;
	line-height:20px;
	margin-top:15px;
	width:50px;
	height:20px;
	color:#FFFFFF;
	background: #ccc;
	background: -moz-linear-gradient(#ccc, #D6D6D6);
	background: -webkit-linear-gradient(#ccc, #D6D6D6);
	background: -o-linear-gradient(#ccc, #D6D6D6);
	background: -ms-linear-gradient(#ccc, #D6D6D6);
	background: linear-gradient(#ccc, #D6D6D6);
	border-bottom:2px solid #B0B0B0;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}

.previous:hover, .next:hover{
	color:orangered;
	border-bottom: 2px solid orangered;
}

.disabled:hover{
	color:#e1e1e1;
	border-bottom: 2px solid #e1e1e1;
	cursor:progress;
}